<center>
	 <p><a href="/parties"> <button class ="new_button">Party
		 </button></a></p>
	 	</br>
	<p><a href="/orders"> <button>Orders</button></a></p>
		</br>
	<p><a href="/foods"><button>Menu</button></a></p>
</center>