<div class = "container">
	<div class = "parties-box">
		 <a href="/parties"> <button>Party
			</button></a>
	</div>
		<div class = "logo"> 
			Restaurant App
		</div>

	<div class = "foods">
		<a href="/foods"><button>Menu</button></a>
	</div>
</div>