<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/stylesheet/styles.css"/>
	<title>Restaurant App</title>
</head>
<div class="header">
	
</div>
</header>
<body>
 <% if current_user %>
    <%= erb :'_navigation_for_user'%>
  <% else %>
    <%= erb :'_navigation_for_non_user'%>
  <% end %>
<%=yield%> 
</body>
</html>