<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/stylesheet/styles.css"/>
	<title>Restaurant App</title>
<body>
 <% if current_user %>
    <%= erb :'authenticated'%>
  <% else %>
    <%= erb :'notauthenticated'%>
  <% end %>
<%=yield%>
</body>
</html>
