<h1>FOOD PAGE</h1>
<h2><a href="/foods/new">ADD NEW FOOD</a>
<ul>
<%@foods.each do |food|%>
<ul>
	<li><a href="/foods/<%=food.id%>"> <%=food.name%> <%=food.description%> $<%=food.price%></a>
	</li></ul>
	<%end%>
	</ul>

<h1>	<a href='/'>Go Back </a> </h1>