<h1>NEW FOOD</h1>

<form action="/foods" method ="post"/>
<input type="text" name="foods[name]" placeholder="name"/>
<input type="text" name="foods[description]" placeholder="description"/>
<input type="text" name="foods[price]" placeholder="price"/>
<input type="submit" value="Add New Food">
</form>