<%if @errors%>
<div class ="errors">
	<h1><% @errors.count %> <%= @errors.count == 1 ? "ERROR" : "ERRORS" %> </h1>
	<ul>
		<% @errors.each do |error| %>
		<li><%= error %></li>
	<% end %>
	</ul>
</div>
<%end%>

<h1>NEW FOOD</h1>

<form action="/foods" method ="post"/>
<input type="text" name="foods[name]" placeholder="name"/>
<input type="text" name="foods[description]" placeholder="description"/>
<input type="text" name="foods[price]" placeholder="price"/>
<input type="submit" value="Add New Food">
</form>

<a href = "/">GO BACK </a>