<center>
<a href="/parties/new"><button>New Reservation
</button></a>

<% @parties.each do |party|%>
<div class = "party"><a href="/parties/<%=party.id%>">Party Name: <%= party.name%> Number of People: <%=party.size%></a>
	</div><%end%>
</form>
<h1>	<button><a href='/'>Go Back </a></button> </h1>
</center>
