<div class = "container">
<h1>Add Party</h1>

	<form action="/parties" method ="post"/>
		<p><input type="text" name="parties[name]" placeholder="name"/></p>
		<p><input type="text" name="parties[size]" placeholder="size"/></p>
		<p><input type="submit" value="Add Party"/></p>
	</form>
</div>