<div class = "container">
<h1>Add Party</h1>

<form action="/parties" method ="post"/>
<p><input type="text" name="orders[party_id]" placeholder="name"/></p>
<p><input type="text" name="parties[size]" placeholder="size"/></p>
<p><input type="text" name="orders[party_id]" placeholder="party_id"/></p>
<p><input type="text" name="orders[food_id]" placeholder="food_id"/></p>
<p><input type="text" name="orders[price]" placeholder="price"/></p>
<p><input type="submit" value="Add Party"/></p>
</form>
</div>