<h1>Add Reservation</h1>

<form action="/parties" method ="post"/>
<input type="text" name="parties[name]" placeholder="name"/>
<input type="text" name="parties[size]" placeholder="size"/>
<input type="text" name="parties[reservation_time]" placeholder="reservation_time"/>
<input type="submit" value="Add Party">
</form>