<h1>Table Number <%=@party.id%></h1>
<h2>Party name <%=@party.name%> </h2>
<center>
<div class="edit-button"> <a href="/parties/<%= @party.id%>/edit">Edit</a></div>

<form action="/parties/<%=@party.id%>" method="post"/>
<input type="hidden" name="_method" value="delete"/>
<input type="submit" value="Delete Party">
</form>
</center>