<h1>Orders</h1>
<ul>
<% @orders.each do |order| %> <% @party.each do |party| %>
<li><a href="/orders/<%=order.id%>"><%=party.name%> <%= party.size%></a></li>
	<%end%><%end%>
</ul>

<h1><a href= '/'>GO BACK</a></h1>

