<h1>Orders</h1>
<ul>
	<center>
	<% @orders.each do |order| %>
		<div class ="order">
			<a href="/orders/<%=order.id%>">
				<%= order.id%> 
			</a>
		</div> 
	<%end%>
</ul>

<h1><button><a href= '/'>GO BACK</a></button></h1>
</center>
