<div class = "container"> 

	<%= @order.price %>

	<center>
		<button><a href="/orders/<%= @order.id %>/edit">EDIT IT</a></button>

		<form action="/orders/<%= @order.id %>" method="post"/>
			<input type="hidden" name="_method" value="delete"/>
			<input type="submit" value="Delete Order">
		</form>
	</center>

</div>